# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Android
*.apk
*.aab
*.ap_
*.dex
local.properties
captures/

# IntelliJ / Android Studio
.idea/
*.iws
*.iml
*.ipr
out/

# Kotlin
.kotlin/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
